.app_footer {
    background-color: #B7B7B7;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .swipe_button {
    background-color: #FCA311;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .swipe_button:hover {
    background-color: #001D3D;
  }