.app_footer {
  background-color: #B7B7B7;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid 2px red; */
  max-height: 2rem;
  min-height: 2rem;
  min-width: 100vw;
}

.footer_mark{
  margin-right: 10px;
}