
.app_container {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.app_header {
  background-color: #001D3D;
  color: white;
  padding: 20px;
}

.app_header h1 {
  margin: 0;
}

.burger_menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  width: 30px;
  cursor: pointer;
}

/* .burger_menu .line {
  width: 100%;
  height: 3px;
  background-color: #FCA311;
} */

.app_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5%;
  padding: 20px;
  width: 90%;
  max-width: 90%;
  height: 90%;
  max-height: 90%;
  text-align: left;
}

.swipe_button {
  background-color: #FCA311;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.swipe_button:hover {
  background-color: #001D3D;
}
