.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D9D9D9; /* Example background color */
  }
  
.logo{
    font-size: 40px;
    padding-bottom: 10px;
}

  .card {
    width: 400px;  /* Example width */
    height: 300px;
    padding: 20px;
    background-color: #001D3D; /* Example background color */
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* .label_input{

  } */

  .form-group {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #B7B7B7; /* Example border color */
    border-radius: 5px;
  }
  
  .button {
    width: 50%;
    padding: 10px;
    background-color: #FCA311; /* Example background color */
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #B7B7B7;
  }