.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .line {
    width: 100%;
    height: 4px;
    background-color: #FCA311;
    transition: all 0.3s ease;
  }
  
  .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .line.open:nth-child(2) {
    opacity: 0;
  }
  
  .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #D9D9D9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
  }
  
  .menu.open {
    display: flex;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin: 10px 0;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #FCA311;
    font-size: 16px;
  }