.main_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #001D3D;
    background-color: #001D3D;
    max-height: 6rem;
    min-height: 5vh;
    min-width: 100vw;
    padding: 0.5rem;
}

.content_navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4rem;
    min-width: 4rem;
    color: white;
    /* border: solid 1px blue; */
}

.title_navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    min-width: 200px;
    width: 60vw;
    /* border: solid 1px blue; */
}

.title_navigation a{
    border-radius: 15px;
    padding: 5px;
    color: #FCA311;
}




