.main_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #001D3D;
    background-color: #001D3D;
    max-height: 6rem;
    min-height: 5vh;
    min-width: 100vw;
    padding: 0.5rem;
}

.content_navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    min-width: 4rem;
    color: white;
    border: solid 1px blue;
}

.title_navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    min-width: 200px;
    width: 60vw;
    border: solid 1px blue;
}

.title_navigation a{
    border-radius: 15px;
    padding: 5px;
    color: #FCA311;
}


.footer_navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
    max-height: 2rem;
    min-height: 2rem;
    min-width: 100vw;
}

/* .app_container {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    text-align: center;
  } */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centre verticalement les éléments */
    padding: 10px 20px;
    background-color: #001D3D; /* Couleur de fond de la navbar */
    height: 60px; /* Ajustez la hauteur selon vos besoins */
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
    color: white; /* Couleur du texte du titre */
    margin: 0; /* Supprimez la marge par défaut */
  }
  
  .loginButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Centre verticalement le bouton dans le conteneur */
  }


  .swipe_button {
    background-color: #FCA311;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .swipe_button:hover {
    background-color: #001D3D;
  }

